Checks: >
  clang-analyzer-*,
  modernize-*,
  -modernize-use-trailing-return-type

WarningsAsErrors: ''

HeaderFilterRegex: 'src/.*'
SystemHeaders: false

FormatStyle: file

CheckOptions:
  - key:             modernize-use-trailing-return-type.MinTypeNameLength
    value:           '0'