[submodule "lib/opencv"]
	path = lib/opencv
	url = https://github.com/opencv/opencv.git
[submodule "lib/opencv_contrib"]
	path = lib/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
[submodule "lib/gtest"]
	path = lib/gtest
	url = https://github.com/google/googletest.git